.yellow-bg {
    text-decoration: underline;
    background-color: yellow;
}

.gray-bg {
    text-decoration: underline;
    background-color: slategrey;
}

#year {
    color: red;
    font-style: italic;
    font-weight: bold;
}